{% extends 'base.html.twig' %}

{% block title %}Edit CryptoCurrency{% endblock %}

{% block body %}
    <h1>Edit CryptoCurrency</h1>

    {{ include('crypto_currency/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_crypto_currency_index') }}">back to list</a>

    {{ include('crypto_currency/_delete_form.html.twig') }}
{% endblock %}
