{% extends 'base.html.twig' %}

{% block title %}New CryptoCurrency{% endblock %}

{% block body %}
    <h1>Create new CryptoCurrency</h1>

    {{ include('crypto_currency/_form.html.twig') }}

    <a href="{{ path('app_crypto_currency_index') }}">back to list</a>
{% endblock %}
