{% extends 'base.html.twig' %}

{% block title %}Hello BalanceController!{% endblock %}

{% block body %}
    <div class = "container">
        <!-- header -->
        <header class="row secondary-page">
            <h1 class="col">
                Vos gains
            </h1>

        </header>


        <!-- add grap  -->
        <div class="graph">{{ render_chart(chart) }}</div>


    </div>
{% endblock %}
