{% extends 'base.html.twig' %}

{% block title %}Graphique rentabilité{% endblock %}

{% block body %}
    <div class = "container">
        <header class="row secondary-page">
            <div class="col-1">
                <a href="{{ path('app_transaction_index') }}" class="close"><i class="bi bi-x"></i></a>
            </div>
            <h1 class="col-11">History des gains</h1>
        </header>

        <!-- add grap  -->
        <div class="graph">{{ render_chart(chart) }}</div>

    </div>
{% endblock %}
